<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Image Compressor</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>

  <body>
    <center>
      <h1>Image Compression Using K-Means Visualizer</h1>
      <div class="container">
        <div class="sub-container" style="height: 330px;">
          <h2>Compress</h2>
          <form
            action="http://127.0.0.1:5000/imageuploader"
            method="post"
            enctype="multipart/form-data" 
          >
            <div class="file-upload-wrapper">
              <input type="file" name="image" id="image" class="input-file" />
            </div>
            <br>
            <label name="cluster_label"><h3 style="color: #ff5f6d;">Enter the no. of clusters:</h3> </label>
            <input type="number" name="clusters" id="clusters" min="2" max="64" class="input-file" style="width: 30px; height:5px;"/>
            <input type="submit" value="Upload" class="submit-btn"/>
          </form>
        </div>
    </center>
  </body>

</html>
